* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    object-fit: contain;
}

/* Custom Components */
.CustomButton {

    background-color: #235683;
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
    margin-top: 30px;
    display: block;
    width: fit-content;
}

/* Container */
.Container {
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */

}

.Container .LogoTextDiv {

    margin-left: 100px;
    @media(max-width:600px) {
        padding: 10px;
        margin-left: 0px;
    }
    
}

.Container h1 {
    color: #030033;
    display: block;
}

.Container p {
    color: #030033;
    display: block;
    margin-top: 10px;
}

.ContactUsButton {
    background-color: #235683;
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
    margin-top: 30px;
    display: block;
    width: fit-content;
}

.Container li {
    color: white;
}

/* Section 2 */
.Section2 {

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px 10%;
}

/* Section 3 */

.Section3 {
    background-color: #F2F4F5;
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    text-align: center;
}

.Section3 .Content {

    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px;

    @media(max-width:600px) {  
        flex-direction:column;
        padding: 0px 0px;
      }
    
}

.Section3 .Content .Left {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-right: 30px;
    
    @media(max-width:600px) {  
        margin-right: 0px;
        margin-bottom: 10px;
    }
  
}

.Section3 .Content .Right {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: 30px;

    @media(max-width:600px) {  
        margin-left: 0px;
        margin-bottom: 10px;
    }
  
}

.Section3 .Content img {
    /* */
    max-width: 50%;
    @media(max-width: 600px) {
        max-width: 100%;
    } 
} 

/* Section 4 */

.Section4 {
    height: 100vh;
}

.Section4 div {
    margin-top: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}


/* Section 5 */

.Section5 {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    padding: 0px 100px;
    
    @media(max-width:600px) {
        grid-template-columns: 1fr;
        padding: 0px 20px;
    }
}

.Section5 .Cell {

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
    @media(max-width:600px) {
    margin-top: 10px;
    }
}

.Section5 .Cell:first-child {
    text-align: left;
}

.Section5 .Cell:first-child div {

    padding-left: 40px;

    @media(max-width:600px) {
        padding-left: 0px;
    }
    
}

.Section5 .Cell:hover {

    background-color: #235683;
    color: white;
}

.Section5 .Cell:first-child:hover {

    background-color: white;
    color: black;
}

.Section5 .Cell img {
    height: 100px;
}

.Section5 .Cell h3 {
    margin-top: 20px;
    display: block;
}

.Section5 .Cell p {
    margin-top: 10px;
    display: block;
}