* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}